**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* G:\FILES\R59-HC-SR04\HC-SR04E.MAX  *
* Wed May 14 22:59:45 2014           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       120      36       200      100                                                                                 
T2       340      6        200      100                                                                                 
T3       400      2        200      100                                                                                 
T4       480      4        200      100                                                                                 
T5       610      4        200      100                                                                                 
